<div class="footer">
    <a href="https://github.com/chris-short/nomedium.dev/blob/master/TERMS.md">Legal</a>
</div>

<!-- Fathom - simple website analytics - https://usefathom.com -->
<script>
    (function(f, a, t, h, o, m){
    a[h]=a[h]||function(){
    (a[h].q=a[h].q||[]).push(arguments)
    };
    o=f.createElement('script'),
    m=f.getElementsByTagName('script')[0];
    o.async=1; o.src=t; o.id='fathom-script';
    m.parentNode.insertBefore(o,m)
    })(document, window, '//cdn.usefathom.com/tracker.js', 'fathom');
    fathom('set', 'siteId', 'GKVNGTDA');
    fathom('trackPageview');
</script>
<!-- / Fathom -->